<nav class="navigation">

    <ul class="navigation__list">

        <li class="navigation__item navigation__item--home">
            <a href="./index.html" class="navigation__link">
                Home
            </a>
        </li>

        <li class="navigation__item navigation__item--favorite js__my-lirbary-link is-hidden">
            <a href="./favorite.html" class="navigation__link">
                Favorite
            </a>
        </li>

        <li class="navigation__item navigation__item--read js__my-lirbary-link is-hidden">
            <a href="./read.html" class="navigation__link">
                Read
            </a>
        </li>

    </ul>

</nav>