<div class="modal-auth is-hidden">
    <form class="modal-auth__form">

        <p class="modal-auth__title">
          Please enter your e-mail and password
        </p>
    
        <div class="modal-auth__wrap-email">
          <label for="email" class="modal-auth__label">E-mail</label>
          <input
            type="email"
            name="email"
            id="email"
            class="modal-auth__input js-auth__email-input"
            placeholder=" "
          />
        </div>
    
        <div class="modal-auth__wrap-password">
          <label for="password" class="modal-auth__label">Password</label>
          <input
            type="password"
            name="password"
            id="password"
            class="modal-auth__input js-auth__password-input"
            placeholder=" "
          />
          <button type="button" class="modal-auth__button-show-password" id="button-show-password">
          </button>
        </div>
    
        <div class="modal-auth__buttons-wrap">
          <button type="submit" class="modal-auth__button-register js-auth__registration-btn">
            Sign up
          </button>
          <button type="submit" class="modal-auth__button-confirm js-auth__entrance-btn">
            Sign in
          </button>
        </div>
      </form>
</div>